.comeWork{
    margin-bottom: 1rem;
    .comeWorkNarrow{
        height: 100px;
        width: 100%;
        display: block;
    }
    .comeWorkWide{
        display: none;
        height: 160px;
        width: 100%;
    }
}

@media (min-width: 880px){
.comeWork{
    .comeWorkNarrow{
        display: none;
    }
    .comeWorkWide{
        display: block;
    }
}
}